@charset "UTF-8";

body{
}
#header{
}
#contents{
	
}
#sideBar{
	position:relative;
	display:block;
	float: left;
	height:800px;
	width:150px;
	background-color:lightcyan;
	font-weight: bold;
}
	#point-navi{
	
		font-whight: normal;
		background-color:lavender;
	}
		li{
			list-style: none;
		}
		.li{
			width:100%;
		}
		.li:hover{
			background-color:gold;
		}
		
	
	
	#send-title{
		position:relative;
		left: 25%;
		
	}
	
	#send-table{
			margin:0 auto;
	}
	#send-table td,#send tr{
		border-bottom: 1px solid black;
		padding:10px;
	}

