@charset "UTF-8";

body{
		min-width: 700px;
}
li{
	text-decoration: none;
}
div{
/* 	border: 1px solid black; */
}

#detail-area{
	margin:10px auto;
	padding: 10px;
}

	#detail-table{
		text-align:center;
		margin: 0 auto;
		width:700px;
/* 		border: 1px solid black; */
	}
	
		#detail-title{
			height: 70px;
			font-weight:bolder;
			border-bottom: 1px solid rgb(210,210,210);
		}
		#detail-info{
			height: 40px;
			font-size: small;
			border-bottom: 1px solid rgb(210,210,210);
		}
		#detail-contents{
			padding: 20px;
			height:500px;
			text-align: left;
			vertical-align:top;
/* 			overflow: scroll; */
			border-bottom: 1px solid rgb(210,210,210);
		}
		 #detail-contents img{
		 	display:block;
		 }
		 
.reply-input{
	content-align:center;
	width: 400px;
	margin: 0 auto;
	padding: 5px;
	border:1px solid rgb(210,210,210) ;
	border-radius: 5px;	
	
}
	.reText{
		width: 315px;
		border-style:none;
	}
	.reBtn{
		width: 50px;
		height: 30px;
		padding:3px;
		margin-bottom:2px;
		border-style:none;
		background-color:white;
		float:right;
	}


#reply-wrap{
	margin:10px auto;
	padding: 10px;
}
	#reply-table{
		text-align:center;
		margin: 0 auto;
		width:400px;
/* 		border: 1px solid black; */
	}
		.one-reply-area{
		}
		
		#oneReply{
			border: 1px solid  rgb(170,170,170);
			padding: 10px;
			border-radius: 6px;
		}
		
			#replyInfo-wrap{
				height:35px;
				text-align:left;
				padding:4px;
				border-bottom: 1px solid rgb(210,210,210);
				
			}
				.replyInfo{
					float:left;
					margin: -3px 5px;
				}
					#reWriter{
						font-size:large;
					}
					#reDate{
						margin-top:5px;
						font-size:small;
					}
		#replyContents{
			margin-top:5px;
			padding-left: 10px;
			text-align:left;
			
		}
			.reReply{
				background-color:gainsboro;
				position:relative;
				left:20px;
				padding:10px;
				top: -10px;
				border-radius: 6px;
				border: 2px solid  rgb(100,100,100);
			}
			
	#replyMenuBtn-area{
		float:right;
	}
			
	#reply-menu{
		position:absoulte;
		background-color:white;
		display:none;
		margin: -100px;
		float:right;
		border-radius: 6px;
		
	}

	
		#reply-menu li{
			list-style:none;
		}
	



#footer{
	margin-top: 10px;
	height: 80px;
	border-top : 2px solid rgb(210,210,210);
	background-color:lavender;
}