<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FreeMapper">
	<resultMap type="Free" id="freeResultMap">
		<id 	property="boardNo" 			column="BOARD_NO" />
		<result property="freeTitle" 		column="FREE_TITLE" />
		<result property="freeContents" 	column="FREE_CONTENTS" />
		<result property="freeWriter" 		column="FREE_WRITER" />
		<result property="freeFilename" 	column="FREE_FILENAME" />
		<result property="freeFileRename" 	column="FREE_FILERENAME" />
		<result property="freeFilePath"		column="FREE_FILEPATH" />
		<result property="freeCount" 		column="FREE_COUNT" />
		<result property="fCreateDate" 		column="F_CREATE_DATE" />
		<result property="fUpdateDate" 		column="F_UPDATE_DATE" />
		<result property="fStatus" 			column="F_STATUS" />
		<result property="category" 		column="CATEGORY" />
		<!-- 작성글 불러올 때 게시판별로 구별하기 위해 category 컬럼을 resultMap에 추가해주었음.
		테이블에는 따로 category가 없기 때문에 쿼리에서 새로운 값을 주고 AS로 CATEGORY라고 명칭을 붙임.
		property는 domain에서 getter 메소드를 통해 불러오기 때문에 domain에도 category 변수를 추가해줌. -->
	</resultMap>
	<insert id="insertFree">
		INSERT INTO FREE_TBL VALUES(SEQ_BOARDNO.NEXTVAL, #{freeTitle}, #{freeContents}
		, #{freeWriter}, #{freeFilename}, #{freeFileRename}, #{freeFilePath}, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<update id="updateFree">
		UPDATE FREE_TBL SET FREE_TITLE = #{freeTitle}, FREE_CONTENTS = #{freeContents}, F_UPDATE_DATE = DEFAULT WHERE BOARD_NO = #{boardNo}
	</update>
	<delete id="deleteFree">
		DELETE FROM FREE_TBL WHERE BOARD_NO = #{boardNo}
	</delete>
	<update id="updateCount">
		UPDATE FREE_TBL SET FREE_COUNT = FREE_COUNT + 1 WHERE BOARD_NO = #{boardNo}
	</update>
	<select id="selectAllBoard" resultMap="freeResultMap">
		SELECT * FROM FREE_TBL WHERE F_STATUS = 'Y' ORDER BY BOARD_NO DESC
	</select>
	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM FREE_TBL
		<where>
			<if test="searchCondition.toString() == 'title'">
				FREE_TITLE LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'contents'">
				FREE_CONTENTS LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'writer'">
				FREE_WRITER LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				FREE_TITLE LIKE '%'||#{searchValue}||'%'
				OR FREE_CONTENTS LIKE '%'||#{searchValue}||'%'
				OR FREE_WRITER LIKE '%'||#{searchValue}||'%'
			</if>
			AND F_STATUS = 'Y' 
		</where>
	</select>
	<select id="selectOneByNo" resultMap="freeResultMap">
		SELECT * FROM FREE_TBL WHERE BOARD_NO = #{boardNo } AND F_STATUS = 'Y'
	</select>
	<select id="selectAllByValue" resultMap="freeResultMap">
		SELECT * FROM FREE_TBL 
		<where>
			<if test="searchCondition.toString() == 'title'">
				FREE_TITLE LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'contents'">
				FREE_CONTENTS LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'writer'">
				FREE_WRITER LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				FREE_TITLE LIKE '%'||#{searchValue}||'%'
				OR FREE_CONTENTS LIKE '%'||#{searchValue}||'%'
				OR FREE_WRITER LIKE '%'||#{searchValue}||'%'
			</if>
			AND F_STATUS = 'Y'
		</where> 		
	</select>
	<!-- 내가 쓴 게시글 출력 -->
	<select id="selectEveryTotalCount" resultType="_int">
		SELECT SUM(CNT) FROM (
		SELECT COUNT(*) AS CNT FROM FREE_TBL
		UNION ALL
		SELECT COUNT(*) AS CNT FROM PARTY_TBL
		UNION ALL
		SELECT COUNT(*) AS CNT FROM REVIEW_TBL)
	</select>
	<select id="selectAllTbl" resultMap="freeResultMap">
		SELECT BOARD_NO, FREE_TITLE, FREE_WRITER, FREE_COUNT, F_CREATE_DATE, '자유롭게' AS CATEGORY FROM FREE_TBL WHERE F_STATUS = 'Y' AND FREE_WRITER = #{memberNickname}
		UNION ALL SELECT BOARD_NO, PARTY_TITLE, PARTY_WRITER, PARTY_COUNT, P_CREATE_DATE, '우리 함께' FROM PARTY_TBL WHERE P_STATUS = 'Y' AND PARTY_WRITER = #{memberNickname}
		UNION ALL SELECT BOARD_NO, REVIEW_TITLE, REVIEW_WRITER, REVIEW_COUNT, R_CREATE_DATE, '여행 후기' FROM REVIEW_TBL WHERE R_STATUS = 'Y' AND REVIEW_WRITER = #{memberNickname} ORDER BY BOARD_NO DESC
	</select>
</mapper>