<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="MainMapper">
  <resultMap type="Main" id="MainResultMap">
	  	<id 	column="BOARD_NO" 	property="boardNo"/>
	  	<result column="TITLE" 		property="title"/>
	  	<result column="WRITER" 	property="writer"/>
	  	<result column="CDATE" 		property="cDate"/>
	  	<result column="SORT" 		property="sort"/>
	  	<result column="COUNT"	    property="count"/>
  </resultMap>
  
  <select id="selectRecent" resultMap="MainResultMap">

SELECT BOARD_NO,TITLE,WRITER,CDATE,COUNT,SORT
FROM
	(SELECT BOARD_NO,FREE_TITLE AS TITLE,FREE_WRITER AS WRITER,F_CREATE_DATE AS CDATE,FREE_COUNT AS COUNT,'free' AS SORT
	FROM FREE_TBL
	UNION ALL
	SELECT PLANNER_NO,PLANNER_TITLE,PLANNER_WRITER,P_CREATE_DATE,PLANNER_COUNT,'planner'
	FROM PLANNER_TBL
	UNION ALL
	SELECT BOARD_NO,REVIEW_TITLE,REVIEW_WRITER,R_CREATE_DATE,REVIEW_COUNT,'review'
	FROM REVIEW_TBL
	UNION ALL
	SELECT BOARD_NO,TRADE_TITLE,TRADE_WRITER,T_CREATE_DATE,TRADE_COUNT,'trade'
	FROM TRADE_TBL
	UNION ALL
	SELECT BOARD_NO,PARTY_TITLE,PARTY_WRITER,P_CREATE_DATE,PARTY_COUNT,'party'
	FROM PARTY_TBL
	ORDER BY 4 DESC)
WHERE ROWNUM <![CDATA[<=]]> 5
  </select>
  
  </mapper>