<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PartyMapper">

<resultMap type="Party" id="partyResultMap">
		<id     property="partyNo"         			column="BOARD_NO"/>
		<result property="partyTitle"      			column="PARTY_TITLE"/>
		<result property="partyContents"     		column="PARTY_CONTENTS"/>
		<result property="partyWriter"   			column="PARTY_WRITER"/>
		<result property="partyFirstDate" 			column="PARTY_FIRST_DATE"/>
		<result property="partyLastDate"  		 	column="PARTY_LAST_DATE"/>
		<result property="partyLocation"     		column="P_LOCATION"/>
		<result property="partyFileName"     		column="PARTY_FILENAME"/>
		<result property="partyFileRename"     		column="PARTY_RENAME"/>
		<result property="partyFilePath"         	column="PARTY_FILEPATH"/>
		<result property="partyCount"   			column="PARTY_COUNT"/>
		<result property="pCreateDate"   			column="P_CREATE_DATE"/>
		<result property="pUpdateDate"   			column="P_UPDATE_DATE"/>
		<result property="pStatus"   				column="P_STATUS"/>
		
</resultMap>

<insert id="insertParty">
INSERT INTO PARTY_TBL
VALUES(
	SEQ_BOARDNO.NEXTVAL, #{partyTitle}, #{partyContents}, 
	#{partyWriter}, #{partyFirstDate}, #{partyLastDate}, #{partyLocation},
	#{partyFileName},#{partyFileRename},#{partyFilePath},
	DEFAULT, DEFAULT, DEFAULT, DEFAULT
	) 
</insert>

<select id="selectTotalCount" resultType="_int">
SELECT COUNT(*) FROM PARTY_TBL
<where>
		<if test="searchCondition.toString()== 'title'">
		PARTY_TITLE LIKE '%'||#{searchValue}||'%' AND P_LOCATION=#{searchRegion}
		</if>
		
		<if test="searchCondition.toString()== 'contents'">
		PARTY_CONTENTS LIKE '%'||#{searchValue}||'%' AND P_LOCATION=#{searchRegion}
		</if>
		
		<if test="searchCondition.toString()== 'writer'">
		PARTY_WRITER LIKE '%'||#{searchValue}||'%' AND P_LOCATION=#{searchRegion}
		</if>
		
		<if test="searchCondition.toString()== 'all'">
			(PARTY_TITLE LIKE '%'||#{searchValue}||'%'  AND P_LOCATION=#{searchRegion} )
		OR	(PARTY_CONTENTS LIKE '%'||#{searchValue}||'%'  AND P_LOCATION=#{searchRegion} )
	  	OR	(PARTY_WRITER LIKE '%'||#{searchValue}||'%' AND P_LOCATION=#{searchRegion} )
		</if>
		AND P_STATUS = 'Y' 
	</where>
	</select>

<select id="selectAllParty" resultMap="partyResultMap">
SELECT * FROM PARTY_TBL
	WHERE P_STATUS = 'Y'
	ORDER BY 1 DESC

</select>

<select id="selectOneParty" resultMap="partyResultMap">
SELECT * FROM PARTY_TBL 
WHERE P_STATUS = 'Y'
AND BOARD_NO = #{partyNo}

</select>

<update id="deleteOneParty">
UPDATE PARTY_TBL
SET P_STATUS = 'N'
WHERE BOARD_NO = #{partyNo}
</update>

<update id="updateOneParty">
UPDATE PARTY_TBL
SET PARTY_TITLE = #{partyTitle}, PARTY_CONTENTS = #{partyContents}
, PARTY_FILENAME =#{partyFileName} , PARTY_RENAME =#{partyFileRename} , PARTY_FILEPATH =#{partyFilePath} 
WHERE BOARD_NO = #{partyNo}
</update>

<update id="updatePartyCount">
UPDATE PARTY_TBL
SET PARTY_COUNT = PARTY_COUNT + 1
WHERE BOARD_NO = #{partyNo}

</update>

<select id="selectAllByValue" resultMap="partyResultMap">
SELECT * FROM PARTY_TBL
		<where>
			
			
			<if test="searchRegion.toString()=='전국'">
				<if test="searchCondition.toString()== 'title'">
					PARTY_TITLE LIKE '%'||#{searchValue}||'%' 
				</if>
			</if>
			<if test="searchRegion.toString() !='전국'">
				<if test="searchCondition.toString()== 'title'">
					PARTY_TITLE LIKE '%'||#{searchValue}||'%' AND P_LOCATION=#{searchRegion}
				</if>
			</if>
			
			<if test="searchRegion.toString() =='전국'">
				<if test="searchCondition.toString()== 'contents'">
				PARTY_CONTENTS LIKE '%'||#{searchValue}||'%' 
				</if>
			</if>
			
			<if test="searchRegion.toString() !='전국'">
				<if test="searchCondition.toString()== 'contents'">
				PARTY_CONTENTS LIKE '%'||#{searchValue}||'%' AND P_LOCATION=#{searchRegion}
				</if>
			</if>
			
			<if test="searchRegion.toString() =='전국'">
				<if test="searchCondition.toString()== 'writer'">
					PARTY_WRITER LIKE '%'||#{searchValue}||'%' 
				</if>
			</if>
			
			<if test="searchRegion.toString() !='전국'">
				<if test="searchCondition.toString()== 'writer'">
					PARTY_WRITER LIKE '%'||#{searchValue}||'%' AND P_LOCATION=#{searchRegion}
				</if>
			</if>
		
			<if test="searchRegion.toString() =='전국'">
				<if test="searchCondition.toString()== 'all'">
					(PARTY_TITLE LIKE '%'||#{searchValue}||'%'
				OR	PARTY_CONTENTS LIKE '%'||#{searchValue}||'%'  
			  	OR	PARTY_WRITER LIKE '%'||#{searchValue}||'%')
				</if>
			</if>
		
			<if test="searchRegion.toString() !='전국'">
				<if test="searchCondition.toString()== 'all'">
					(PARTY_TITLE LIKE '%'||#{searchValue}||'%'
				OR	PARTY_CONTENTS LIKE '%'||#{searchValue}||'%'  
			  	OR	PARTY_WRITER LIKE '%'||#{searchValue}||'%')
			  	AND P_LOCATION=#{searchRegion}
				</if>
			</if>
		AND P_STATUS = 'Y' 
		</where>
		ORDER BY 1 DESC
</select>

<!-- 댓글 관리 -->

<resultMap type="PartyReply" id="partyReplyResultMap">

		<id     property="pReplyNo"         	column="P_REPLY_NO"/>
		<result property="refBoardNo"      		column="BOARD_NO"/>
		<result property="pReplyWriter"     	column="P_REPLY_WRITER"/>
		<result property="pReplyContents"   	column="P_REPLY_CONTENTS"/>
		<result property="prCreateDate" 		column="P_R_CREATE_DATE"/>
		<result property="prUpdateDate"  		column="P_R_UPDATE_DATE"/>
		<result property="prStatus"     		column="P_R_STATUS"/>
	

</resultMap>

<insert id="insertPartyReply">
INSERT INTO PARTY_REPLY_TBL
VALUES(
	SEQ_REPLYNO.NEXTVAL, #{refBoardNo}, #{pReplyWriter}, 
	#{pReplyContents}, DEFAULT, DEFAULT, DEFAULT
	) 
</insert>

<select id="selectAllPartyReply" resultMap="partyReplyResultMap">
SELECT * FROM PARTY_REPLY_TBL
WHERE P_R_STATUS = 'Y' AND BOARD_NO = #{refBoardNo}
ORDER BY 1 
</select>

<update id="deletePartyReply">
UPDATE PARTY_REPLY_TBL
SET P_R_STATUS = 'N'
WHERE P_REPLY_NO = #{pReplyNo}

</update>

<update id="updatePartyReply">
UPDATE PARTY_REPLY_TBL
SET P_REPLY_CONTENTS = #{pReplyContents}
WHERE P_REPLY_NO = #{pReplyNo} 
</update>

</mapper>