<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ReviewMapper">
	<resultMap type="Review" id="reviewResultMap">
		<id 	column="BOARD_NO" 			property="boardNo"/>
		<result column="REVIEW_TITLE" 		property="reviewTitle"/>
		<result column="REVIEW_CONTENTS" 	property="reviewContents"/>
		<result column="REVIEW_WRITER" 		property="reviewWriter"/>
		<result column="R_LOCATION_CODE" 	property="rLocationCode"/>
		<result column="LOCATION_NAME" 		property="rLocationName"/>
		<result column="REVIEW_FILENAME" 	property="reviewFileName"/>
		<result column="REVIEW_RENAME" 		property="reviewFileReName"/>
		<result column="REVIEW_FILEPATH" 	property="reviewFilePath"/>
		<result column="REVIEW_COUNT" 		property="reviewCount"/>
		<result column="R_CREATE_DATE" 		property="rCreateDate"/>
		<result column="R_UPDATE_DATE" 		property="rUpdateDate"/>
		<result column="R_STATUS" 			property="rStatus"/>
		<result column="THUMBNAIL_PATH"		property="thumbnailPath"/>
	</resultMap>  
  	<select id="selectOneReview" resultMap="reviewResultMap">
  		SELECT * 
  		FROM REVIEW_TBL R LEFT JOIN LOCATION_TBL L
  		ON R.R_LOCATION_CODE = L.LOCATION_CODE
  		WHERE BOARD_NO=#{boardNo} AND R_STATUS='Y'
  	</select>
  	<select id="selectAllReview" resultMap="reviewResultMap">  	
		SELECT BOARD_NO,REVIEW_TITLE,REVIEW_WRITER,R_LOCATION_CODE,REVIEW_FILENAME,REVIEW_RENAME,REVIEW_FILEPATH,REVIEW_COUNT,R_CREATE_DATE,R_UPDATE_DATE,R_STATUS,THUMBNAIL_PATH,LOCATION_NAME
		FROM REVIEW_TBL R LEFT JOIN LOCATION_TBL L
		ON R.R_LOCATION_CODE = L.LOCATION_CODE
		ORDER BY R_CREATE_DATE DESC
  	</select>
  	<select id="selectTotalCount" resultType="_int">
  		SELECT COUNT(*) FROM REVIEW_TBL
  	</select>
  	<select id="selectSearchReview" resultMap="reviewResultMap">
		SELECT BOARD_NO,REVIEW_TITLE,REVIEW_WRITER,R_LOCATION_CODE,REVIEW_FILENAME,REVIEW_RENAME,REVIEW_FILEPATH,REVIEW_COUNT,R_CREATE_DATE,R_UPDATE_DATE,R_STATUS,THUMBNAIL_PATH,LOCATION_NAME
		FROM REVIEW_TBL R LEFT JOIN LOCATION_TBL L
		ON R.R_LOCATION_CODE = L.LOCATION_CODE
		<where>
			<if test='searchCondition.toString()=="all"'>
				(REVIEW_TITLE LIKE '%'||#{searchValue}||'%' <if test='searchRegion.toString()!="00"'>AND R_LOCATION_CODE=#{searchRegion}</if>)OR
				(REVIEW_CONTENTS LIKE '%'||#{searchValue}||'%' <if test='searchRegion.toString()!="00"'>AND R_LOCATION_CODE=#{searchRegion}</if>)OR
				(REVIEW_WRITER LIKE '%'||#{searchValue}||'%' <if test='searchRegion.toString()!="00"'>AND R_LOCATION_CODE=#{searchRegion}</if>)
			</if> 
			<if test='searchCondition.toString()=="title"'>
				REVIEW_TITLE LIKE '%'||#{searchValue}||'%' <if test='searchRegion.toString()!="00"'>AND R_LOCATION_CODE=#{searchRegion}</if>
			</if>
			<if test='searchCondition.toString()=="writer"'>
				REVIEW_WRITER LIKE '%'||#{searchValue}||'%' <if test='searchRegion.toString()!="00"'>AND R_LOCATION_CODE=#{searchRegion}</if>
			</if>
			<if test='searchCondition.toString()=="contents"'>
				REVIEW_CONTENTS LIKE '%'||#{searchValue}||'%' <if test='searchRegion.toString()!="00"'>AND R_LOCATION_CODE=#{searchRegion}</if>
			</if>
		</where>
		ORDER BY R_CREATE_DATE DESC
		
  	</select>
  	 <select id="selectSearchCount" resultType="_int">
	  	SELECT COUNT(*) 
	  	FROM REVIEW_TBL
			<where>
				<if test='searchCondition.toString()=="all"'>
					(REVIEW_TITLE LIKE '%'||#{searchValue}||'%'<if test='searchRegion.toString()!="00"'>AND R_LOCATION_CODE=#{searchRegion}</if>)OR
					(REVIEW_CONTENTS LIKE '%'||#{searchValue}||'%' <if test='searchRegion.toString()!="00"'>AND R_LOCATION_CODE=#{searchRegion}</if>)OR
					(REVIEW_WRITER LIKE '%'||#{searchValue}||'%'<if test='searchRegion.toString()!="00"'>AND R_LOCATION_CODE=#{searchRegion}</if>)
				</if> 
				<if test='searchCondition.toString()=="title"'>
					REVIEW_TITLE LIKE '%'||#{searchValue}||'%' <if test='searchRegion.toString()!="00"'>AND R_LOCATION_CODE=#{searchRegion}</if>
				</if>
				<if test='searchCondition.toString()=="writer"'>
					REVIEW_WRITER LIKE '%'||#{searchValue}||'%' <if test='searchRegion.toString()!="00"'>AND R_LOCATION_CODE=#{searchRegion}</if>
				</if>
				<if test='searchCondition.toString()=="contents"'>
					REVIEW_CONTENTS LIKE '%'||#{searchValue}||'%' <if test='searchRegion.toString()!="00"'>AND R_LOCATION_CODE=#{searchRegion}</if>
				</if>
			</where>
  	</select>
  	<insert id="insertReview">
  		INSERT INTO REVIEW_TBL
  		VALUES(SEQ_BOARDNO.NEXTVAL,#{reviewTitle},#{reviewContents},#{reviewWriter},#{rLocationCode},#{reviewFileName},#{reviewFileReName},#{reviewFilePath},DEFAULT,DEFAULT,DEFAULT,DEFAULT,#{thumbnailPath})
  	</insert>
  	<update id="updateReview">
  		UPDATE REVIEW_TBL 
  		SET REVIEW_TITLE=#{reviewTitle},REVIEW_CONTENTS=#{reviewContents},R_LOCATION_CODE=#{rLocationCode},THUMBNAIL_PATH=#{thumbnailPath} 
  		WHERE BOARD_NO=#{boardNo}
  	</update>
  	<update id="updateCountReview">
  		UPDATE REVIEW_TBL
  		SET REVIEW_COUNT = REVIEW_COUNT+1
  		WHERE BOARD_NO=#{boardNo}
  	</update>
  	
  	<delete id="deleteOneReview">
		DELETE FROM REVIEW_TBL WHERE BOARD_NO=#{boardNo} AND REVIEW_WRITER = #{reviewWriter}
  	</delete>
  

  
  </mapper>