<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
  		<typeAlias type="com.kh.tripply.review.domain.Review" alias="Review"/>
		<typeAlias type="com.kh.tripply.party.domain.Party" alias="Party"/>
		<typeAlias type="com.kh.tripply.party.domain.PartyReply" alias="PartyReply"/>
		
		<typeAlias type="com.kh.tripply.notice.domain.Notice" alias="Notice"/>
		<typeAlias type="com.kh.tripply.banner.domain.Banner" alias="Banner"/>
		<typeAlias type="com.kh.tripply.plan.domain.Planner" alias="Planner" />
		<typeAlias type="com.kh.tripply.member.domain.Member" alias="Member"/>	
		
	</typeAliases>

	<mappers>
		 <mapper resource="mappers/party-mapper.xml"/>
		 <mapper resource="mappers/review-mapper.xml"/>
		 <mapper resource="mappers/trade-mapper.xml"/>
		 <mapper resource="mappers/point-mapper.xml"/>
		 <mapper resource="mappers/notice-mapper.xml"/>
		 <mapper resource="mappers/banner-mapper.xml"/>
		 <mapper resource="mappers/member-mapper.xml"/>
		 <mapper resource="mappers/planner_mapper.xml" />
	</mappers>

</configuration>